name: Run pycopm in macOS

on:
 push:
   branches:
     - main
 pull_request:
   
jobs:
  run-pycopm-local:
    timeout-minutes: 120
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python 3.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.13
    
    - name: Install OPM Flow dependencies
      run: |
        brew uninstall cmake
        brew install boost openblas suite-sparse cmake
        
    - name: Install pycopm in the Python virtual environment vpycopm
      run: |
        git clone https://github.com/cssr-tools/pycopm.git
        pushd pycopm
        python3 -m venv vpycopm
        source vpycopm/bin/activate
        pip install --upgrade pip setuptools wheel
        pip install .
        pip install -r dev-requirements.txt

    - name: Build OPM Flow
      run: |
        CURRENT_DIRECTORY="$PWD"
        for module in common geometry grid istl
        do  git clone https://gitlab.dune-project.org/core/dune-$module.git
            cd dune-$module && git checkout v2.10.0 && cd ..
            ./dune-common/bin/dunecontrol --only=dune-$module cmake -DCMAKE_DISABLE_FIND_PACKAGE_MPI=1
            ./dune-common/bin/dunecontrol --only=dune-$module make -j5
        done
        mkdir build
        for repo in common grid simulators
        do  git clone https://github.com/OPM/opm-$repo.git
            mkdir build/opm-$repo && cd build/opm-$repo
            cmake -DUSE_MPI=0 -DWITH_NDEBUG=1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="$CURRENT_DIRECTORY/dune-common/build-cmake;$CURRENT_DIRECTORY/dune-grid/build-cmake;$CURRENT_DIRECTORY/dune-geometry/build-cmake;$CURRENT_DIRECTORY/dune-istl/build-cmake;$CURRENT_DIRECTORY/build/opm-common;$CURRENT_DIRECTORY/build/opm-grid" $CURRENT_DIRECTORY/opm-$repo
            if [[ $repo == simulators ]]; then
              make -j5 flow
            else
              make -j5 opm$repo
            fi
            cd ../..
        done

    - name: Run the pycopm tests (explicitly passing the OPM Flow executable path)
      run: |
        pushd pycopm
        source vpycopm/bin/activate
        pytest --cov=pycopm --cov-report term-missing tests/ --flow /Users/runner/work/OPM-Flow_macOS/OPM-Flow_macOS/build/opm-simulators/bin/flow

    - name: Run the pycopm hello world example (globally exporting the OPM Flow executable path)
      run: |
        pushd pycopm
        source vpycopm/bin/activate
        export PATH=$PATH:/Users/runner/work/OPM-Flow_macOS/OPM-Flow_macOS/build/opm-simulators/bin
        pycopm -i examples/decks/HELLO_WORLD.DATA -c 5,5,1 -m all -f flow -o output

    - name: Check if the pycopm example succeded
      run: |
        file="/Users/runner/work/OPM-Flow_macOS/OPM-Flow_macOS/pycopm/output/HELLO_WORLD_PYCOPM.EGRID"
        if [[ -f "$file" ]]; then
          echo "pycopm succeeded"
        else
          echo "pycopm failed"
          exit 1
        fi
