name: Run pycopm in macOS

on:
 push:
   branches:
     - main
 pull_request:
   
jobs:
  run-pycopm-local:
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12']
        os: [macos-latest]
        
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install OPM Flow dependencies
      run: |
        brew uninstall cmake
        brew install boost cmake openblas suite-sparse python@3.12

        CURRENT_DIRECTORY="$PWD"

        for module in common geometry grid istl
        do   git clone https://gitlab.dune-project.org/core/dune-$module.git --branch v2.9.1
        done
        for module in common geometry grid istl
        do   ./dune-common/bin/dunecontrol --only=dune-$module cmake -DCMAKE_DISABLE_FIND_PACKAGE_MPI=1
             ./dune-common/bin/dunecontrol --only=dune-$module make -j5
        done

    - name: Build OPM Flow
      run: |
        for repo in common grid simulators
        do
            git clone https://github.com/OPM/opm-$repo.git
        done

        mkdir build

        for repo in common grid
        do
            mkdir build/opm-$repo
            pushd build/opm-$repo
            cmake -DWITH_NDEBUG=1 -DUSE_MPI=0 -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="$CURRENT_DIRECTORY/dune-common/build-cmake;$CURRENT_DIRECTORY/dune-grid/build-cmake;$CURRENT_DIRECTORY/dune-geometry/build-cmake;$CURRENT_DIRECTORY/dune-istl/build-cmake;$CURRENT_DIRECTORY/build/opm-common" $CURRENT_DIRECTORY/opm-$repo
            make -j5 opm$repo
            pushd .
        done

        mkdir build/opm-simulators
        pushd build/opm-simulators
        cmake -DUSE_MPI=0 -DWITH_NDEBUG=1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="$CURRENT_DIRECTORY/dune-common/build-cmake;$CURRENT_DIRECTORY/dune-grid/build-cmake;$CURRENT_DIRECTORY/dune-geometry/build-cmake;$CURRENT_DIRECTORY/dune-istl/build-cmake;$CURRENT_DIRECTORY/build/opm-common;$CURRENT_DIRECTORY/build/opm-grid" $CURRENT_DIRECTORY/opm-simulators
        make -j5 flow_gaswater
        pushd .
        
        export PATH="$PATH:$CURRENT_DIRECTORY/build/opm-simulators/bin"
        
    - name: Install pycopm
      run: |
        git clone https://github.com/cssr-tools/pycopm.git
        cd pycopm
        pip install .
      
    - name: Run the example
      run: |
        cd examples/decks
        pycopm -i HELLO_WORLD.DATA -c 5,5,1 -m all
