name: Run pycopm in macOS

on:
 push:
   branches:
     - main
 pull_request:
   
jobs:
  run-pycopm-local:
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12']
        os: [macos-latest]
        
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install OPM Flow dependencies
      run: |
        brew uninstall cmake
        brew install boost@1.85 cmake openblas suite-sparse

    - name: Build OPM Flow
      run: |
        chmod u+x build_dune_and_opm-flow_macOS.bash
        ./build_dune_and_opm-flow_macOS.bash
        
    - name: Install pycopm
      run: |
        git clone https://github.com/cssr-tools/pycopm.git
        pushd pycopm
        pip install .
      
    - name: Run the example
      run: |
        pushd pycopm
        pycopm -i examples/decks/HELLO_WORLD.DATA -c 5,5,1 -m all -f /Users/runner/work/OPM-Flow_macOS/OPM-Flow_macOS/build/opm-simulators/bin/flow_gaswater

    - name: Check the example succeded
      run: |
        file="HELLO_WORLD_PYCOPM.EGRID"
        if [[ -f "$file" ]]; then
          echo "pycopm succeeded"
        else
          echo "pycopm failed"
          exit 1
        fi
